In [1]:
import pandas as pd

In [2]:
# dicionário
data = {
    "nome":["teo", 'nah', "lara", "maria"],
    "sobrenome":["calvo", "machado", "santos", "oliveira"],
    "idade": [30, 31, 32, 33]
}

In [3]:
data

{'nome': ['teo', 'nah', 'lara', 'maria'],
 'sobrenome': ['calvo', 'machado', 'santos', 'oliveira'],
 'idade': [30, 31, 32, 33]}

In [4]:
# idade da primeira pessoa
data['idade'][0]

30

In [5]:
# idade da última pessoa
data['idade'][-1]

33

In [6]:
df = pd.DataFrame(data)
df

    nome sobrenome  idade
0    teo     calvo     30
1    nah   machado     31
2   lara    santos     32
3  maria  oliveira     33

In [7]:
# retorna uma Series
df['idade']

0    30
1    31
2    32
3    33
Name: idade, dtype: int64

In [8]:
# mostrar idade da primeira pessoa
print(df['idade'][0]) #se tiver certeza que o índice está correto
print(df['idade'].iloc[0]) # usar iloc garante que vem o primeiro elemento

30
30

In [9]:
# DataFrame é um conjunto de Series

type(df['idade'])

pandas.core.series.Series

In [10]:
# sobrenome da 4ª pessoa
df['sobrenome'][3]

'oliveira'

In [11]:
# trazer linha completa
# retorna série
# índice da série retornada -> nome das colunas correspondentes (nome, sobrenome, idade)
# nome da Série (Name) = índice (0)
print(df.iloc[0])
print(type(df.iloc[0]))

nome           teo
sobrenome    calvo
idade           30
Name: 0, dtype: object
<class 'pandas.core.series.Series'>

**## Conclusão: DataFrame é um conjunto de Séries**
 * DataFrame é uma planilha Excel
 * Série é uma coluna do Excel

In [12]:
df.index = [3,2,1,0] #troca de índices
df

    nome sobrenome  idade
3    teo     calvo     30
2    nah   machado     31
1   lara    santos     32
0  maria  oliveira     33

In [13]:
# [0] não é mais o primeiro elemento
print(df['idade'][0])

# primeiro elemento -> iloc[0]
print(df['idade'].iloc[0])

# loc[0] -> retorna o valor localizado no índice [0] (último elemento)
print(df['idade'].loc[0])

33
30
33

In [14]:
df.columns

Index(['nome', 'sobrenome', 'idade'], dtype='object')

In [15]:
df = pd.DataFrame(data) #resetei DF para índice ficar correto
df.info()
# objetct -> tudo que não é numerico

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   nome       4 non-null      object
 1   sobrenome  4 non-null      object
 2   idade      4 non-null      int64
dtypes: int64(1), object(2)
memory usage: 224.0+ bytes

In [16]:
# pegar quantidade de memória usada pelo DF de forma mais confiável
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   nome       4 non-null      object
 1   sobrenome  4 non-null      object
 2   idade      4 non-null      int64
dtypes: int64(1), object(2)
memory usage: 657.0 bytes

In [17]:
df.dtypes

nome         object
sobrenome    object
idade         int64
dtype: object

In [18]:
# 1 coluna => Serie
df.describe()

           idade
count   4.000000
mean   31.500000
std     1.290994
min    30.000000
25%    30.750000
50%    31.500000
75%    32.250000
max    33.000000

In [19]:
df['peso']=[80, 53, 65, 14]
sumario = df.describe()
sumario
# 2 colunas => retorna outro DF

           idade       peso
count   4.000000   4.000000
mean   31.500000  53.000000
std     1.290994  28.248894
min    30.000000  14.000000
25%    30.750000  43.250000
50%    31.500000  59.000000
75%    32.250000  68.750000
max    33.000000  80.000000

In [20]:
# média de pesos das pessoas
sumario['peso']['mean']

53.0

In [21]:
# 2 primeiras linhas (padrão 5)
df.head(2)

  nome sobrenome  idade  peso
0  teo     calvo     30    80
1  nah   machado     31    53

In [22]:
# últimas linhas
df.tail(2)

    nome sobrenome  idade  peso
2   lara    santos     32    65
3  maria  oliveira     33    14